/* struttura generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

/* header */

header {
    background-color: rgb(0, 140, 255);
    min-height: 500px;
}

.header-conteiner-menu {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.icon-name {
    background-color: #fff;
    height: 50px;
    width: 100px;
    
}

.menu {
    background-color: #fff;
    height: 50px;
    width: 500px;
    
}

.log-in {
    background-color: #fff;
    height: 50px;
    width: 100px;
     
}

.header-title {
    background-color: #fff;
    width: 60%;
    text-align: center;
    margin: 100px auto;
}

/* main */

main {
    background-color: black;
    width: 80%;
    min-height: 1000px;
    margin: 100px auto;
    padding: 10px 0;
}

.row-white {
    background-color: #fff;
    height: 600px;
    width: auto;
    margin: 50px 0;
    text-align: center;
}

.row-grey {
    background-color: rgba(255, 255, 255, 0.267);
    height: 600px;
    width: auto;
    margin: 50px 0;
    text-align: center;
}

.img {
    background-color: rgb(8, 245, 213);
    height: 400px;
    width: 400px;
    margin: 10px 0;
}

.text {
    background-color: rgb(8, 245, 213);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.credits {
    background-color: rgb(8, 245, 213);
}